/* Constants */
:root {
    --orange:#EE993D;
    --light_purple:#E59CF9;
    --dark_purple:#A500BD;
    --light_blue:  #ABCCF5;
    --light_gray:#EFEFEF;
    --dark_blue:   #276287;
    --bart_red:#DA5649;
    --bart_yellow:#F8E677;
    --bart_blue:#6897D1;
    --bart_green:#6BB787;
    --four:#e8f9ff;
    --eigt:#e8ffee;
    --twel:#fff6e8;
    --twfr:#ffe8e8;
}

/* All Pages */

body {
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    margin-top: 10px;
    margin-bottom: 1px;
    color: var(--dark_blue);
    }

h2 {
    font-size: 18pt;
    color: var(--dark_blue);
    margin: 0em;
}

a {
    color: var(--light_blue)
    visited: var(--light_purple)
}

.plain { text-decoration: none; }

.square-image {
  float: top;
  width: 150pt;
  height: 150pt;
}

/* All Pages, Tables */

th {
    text-align: center;
    font-size: 14pt;
    color: var(--dark_blue)
    padding: 0 15px;
}

td {
    padding: 0 15px;
  }

xtr:nth-child(even) {
  background-color: var(--light_gray);
}

.br { background-color: var(--bart_red);    color: var(--bart_red)     }
.by { background-color: var(--bart_yellow); color: var(--bart_yellow); }
.bb { background-color: var(--bart_blue);   color: var(--bart_blue);   }
.bg { background-color: var(--bart_green);  color: var(--bart_green);  }
.bt { background-color: transparent;        color: transparent;  }
.four { background-color: var(--four);}
.eigt { background-color: var(--eigt);}
.twel { background-color: var(--twel);}
.twfr { background-color: var(--twfr);}

.nowrap {white-space: nowrap;}

/* All Pages, Flex Containers */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.content {
  text-align: center;
  padding: 30px;
}

.link-title {
    font-size: 18pt;
    color: var(--dark_blue);
    margin: 0em;
}

/* Progress Page */

.progress {
  border-collapse: collapse;
border-spacing:0;
max-width:100%;
white-space:nowrap;
}

table.progress tr:nth-child(even) {
  background-color: var(--light_gray);
}

.dkCol {
  width: 200px;
  overflow: hidden;
  background-color: black;
}


/* Detail Page */

.wu_detail {
  float: top;
  width: 450pt;
}



