:root {
    --orange:#EE993D;
    --light_purple:#E59CF9;
    --dark_purple:#A500BD;
    --light_blue:#ABCCF5;
    --dark_blue:#276287;
}


.main_content_index {
    padding-top: 2em;
    margin: 0em 0em 0em 0em;
    min-width: 40em;
}

.column_left {
    float: left;
    width: 48%;
}

.column_right {
    float: right;
    width: 48%;
}

.projects {
  background-color: var(--light_blue);
  border-radius: 20px;
  margin-bottom: 35pt;
  padding-right: 15pt;
}

.projects_text {
  padding-top: 12pt;
  padding-right: 12pt;
  padding-left: 12pt;
  padding-bottom: 12pt;
}

h1 {
    margin-top: 10px;
    margin-bottom: 1px;
    color: var(--dark_blue);
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

h2 {
    font-size: 18pt;
    color: var(--dark_blue);
    margin: 0em;
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
    color: var(--light_blue)
    visited: var(--light_purple)
}

th {
    text-align: left;
    font-size: 14pt;
    color: var(--dark_blue)
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0 15px;

}

tr {
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

td {
    padding: 0 15px;
  }
